<a href="https://colab.research.google.com/github/kio15978/kio15978/blob/main/%EC%9C%A0%ED%8C%90%EB%8D%B0_6w_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **자료유형 다루기 연습**
> 글자에 # 많아질 수록 글자 작아짐

In [ ]:
a=123
b=-123.4
a+b

-0.4000000000000057

In [ ]:
# 8진수
c=0o34   
d=0o25
c+d

49

In [ ]:
# 16 진수
e=0x2A
f=0xFF
e+f

297

In [ ]:
s='wiseinCompany'

In [ ]:
s1="wiseinCompany"

In [ ]:
s2= '"wiseinCompany"'    
# ' ' 안에 "" 있으므로 ""도 글자로 출력
# ''' wiseinComapny''' -> wiseinCompayn로 출력

In [ ]:
print(s)

wiseinCompany

In [ ]:
print(s1)

wiseinCompany

In [ ]:
print(s2)

"wiseinCompany

In [ ]:
s3='123'

In [ ]:
print(s3)

123

In [ ]:
print(type(s3))  # s3 타입 확인 -> 따옴표로 묶으면 문자

<class 'str'>

In [ ]:
a='wise'
b='incompany'
print(a+b)  #  +  붙어서
print(a, b) #  ,  쓰면 띄어져서

wiseincompany
wise incompany

In [ ]:
print(s*3)   #  *  3번 반복

wiseinCompanywiseinCompanywiseinCompany

In [ ]:
a='wise in company'

## 인덱싱 : 안에 있는 단어들 끄집어 내기
## 파이썬은 0부터 시작  / 빈칸도 셈

[ ] 데이터 요소에 접근

In [ ]:
print(a[3])    # [] 어떤 데이터 요소에 접근

e

In [ ]:
print(a[-3])  # - 뒤에서

a

## 슬라이싱 : 몇번째부터 몇번째까지 끊어서 처리

In [ ]:
print(a[5:7])  #  ~ 부터 : ~ 까지

in

In [ ]:
print(a[4:])  # 4부터 끝까지

 in company

In [ ]:
print(a[:4]) # 처음부터 4까지

wise

# **리스트 list []**

In [ ]:
a=[1,2,3,4,5]  # [] 리스트

In [ ]:
print(a)

[1, 2, 3, 4, 5]

In [ ]:
print(a[0])   # 첫번째 값

1

In [ ]:
print(a[0:5])

[1, 2, 3, 4, 5]

In [ ]:
print(a[:5])

[1, 2, 3, 4, 5]

In [ ]:
print(a[2:])

[3, 4, 5]

. 에 접근    append 추가

In [ ]:
a.append(6)   #  . 에 접근    append 추가

In [ ]:
print(a)

[1, 2, 3, 4, 5, 6]

리스트명[몇 번째] = 대체

In [ ]:
a[0]=0  # 리스트명[몇 번째] = 대체

In [ ]:
print(a)

[0, 2, 3, 4, 5, 6]

del 리스트명[몇 번째]   ->  뺴기

In [ ]:
del a[1]  # 리스트니까 [] 대괄호

In [ ]:
print(a)

[0, 3, 4, 5, 6]

In [ ]:
# 리스트끼리 더하기 가능
a=[1,2]   
b=[3,4,5]
c=a+b
print(c)

[1, 2, 3, 4, 5]

곱하기 아님 ( * ) 반복의 표시

In [ ]:
d=a*3  # a를 3번 반복해라
print(d)

[1, 2, 1, 2, 1, 2]

# **튜플 tuple ( )**

리스트는 만들고, 수정, 추가 삭제 가능

튜플은 바꿀 수 없음

소괄호 ( )

In [ ]:
t=(1,2,3,4,5)

변수 자료 유형과 상관 없이 [] 데이터 안에 든 몇번째 요소 접근

In [ ]:
print(t[1])   # [] 데이터  요소 접근

2

In [ ]:
print(t[0:4])

(1, 2, 3, 4)

In [ ]:
t1=t[0:4]  # ~번째부터 ~까지 -> 다른 데이터 객체에 넣어라

In [ ]:
print(t1)

(1, 2, 3, 4)

병합

In [ ]:
a=(1,2)
b=(3,4,5)
c=a+b

In [ ]:
print(c)

(1, 2, 3, 4, 5)

반복

In [ ]:
d=a*3
print(d)

(1, 2, 1, 2, 1, 2)

In [ ]:
name=('David','Kim')
print(name)

('David', 'Kim')

In [ ]:
firstname, lastname=('David','kim')
print(lastname, ',', firstname)

kim , David

# **집합 set  { }**
리스트 순서 있지만 집합은 순서 없음

중복되면 각각이 아닌 하나만 나옴

DB에서 나올 수 있는 여러 값 기준으로 삼기 좋음

In [ ]:
set={1,1,2,3,3}
print(set)

{1, 2, 3}

리스트  append 추가

집합    add  추가

In [ ]:
set.add(4)
set

{2, 3, 4, 5, 6, 7}

 하나가 아니라 여러개를 넣고 싶다

In [ ]:
set.update({5,6,7})    # 여러개니까 리스트 형태
set

{2, 3, 4, 5, 6, 7}

**remove 지우기**

 리스트, 튜플과 다르게  ( 집합은 순서가 없기 때문)

set 안의 해당되는 값을 지움

In [ ]:
set.remove(1)

KeyError: ignored

In [ ]:
set

{2, 3, 4, 5, 6, 7}

In [ ]:
a={1,2,3}
b={1,3,4}

& 교집합

In [ ]:
c=a&b     #  & 교집합
print(c)

{1, 3}

| 합집합

In [ ]:
d=a|b   #  | 합집합   | or의 의미
print(d)

{1, 2, 3, 4}

In [ ]:
e=a-b   # a에 있는 것만
print(e)

{2}

# **딕셔너리 dic {}**
하나하나의 대한 요소,

기준값 key와 value가 하나의 쌍으로 이루어짐

ex) 라면 1, 김밥 2, 짜장면 3  ~> 세트로 이루어짐

In [ ]:
dic={'Kim':90, 'Jeong':80, 'Park':75}  # 'Kim':90 하나의 구성

In [ ]:
dic['Kim']  # [] 요소 접근

90

**추가 변경**

[키가 되는 값]=해당되는 값

In [ ]:
dic['Jeong']=85  # jeong 값을 85로 변경

In [ ]:
dic['Cho']=95

del 삭제

In [ ]:
del dic['Park']

In [ ]:
print(dic)

{'Kim': 90, 'Jeong': 85, 'Cho': 95}

**저장된 키와 값 확인**

키 dic.keys()

값 dic.values()

In [ ]:
print(dic.keys())    # 키

dict_keys(['Kim', 'Jeong', 'Cho'])

In [ ]:
print(dic.values()) # 값

dict_values([90, 85, 95])

## **> 데이터 정리**

어디에 접근 자료 유형 상관 x  [ ]

다른 것들은 바꿀 수 있지만 튜플은 변경 불가 (추가는 가능)

집합, 사전  ex) 가게에서 메뉴 구성, 회사에서 제품 가격 일련번호 구성할 때

집합은 목록의미

사전은 라면 얼마 김밥 얼마 ~> 쌍을 이루는 key와 value의 대응으로 이루어짐

------------------------------------

# **조건문 if문**
* 조건의 참 또는 거짓에 따라 구문 안에 있는 값을 실행

if(조건문):

  명령어1

elif(조건문):

명령어2

else(조건문):

명령어3

**## 5000원 이상 있으면 택시타고, 3000원이면 ktx타고 그 이하면 걸어가고.. 돈--> 알려주고 싶다면**

In [ ]:
money=1000

= (<-) 이러한 값을 넣어라   
== 같다

In [ ]:
if money==3000:
  print('KTX타고 가세요')
elif money>=5000:       # 아니면 ( elif는 여러개 가능)
  print('택시타고 가세요')
else:                   # 전부 아니면
  print('걸어가세요')

걸어가세요

# **반복문 for문**

* 특정 연산을 여러 번 반복해야 할 때

for 변수 in 리스트/튜플/문자열 :
 
 수행할 문장1 수행할 문장2 

 ...

In [ ]:
sum=0   # 초기화 : 0부터 시작 
for i in range(11):    #  i는 range의 값을 받음  range( 0부터 10까지 11개 )  
  sum=sum+i   # i더해 누적
print(sum)

55

리스트 안에 있는 것들을 하나씩 찾을 때

In [ ]:
list=['wise','in','company']

In [ ]:
for s in list:  # 리스트 안에 있는 것에서 대입하여 반복
  print(s)

wise
in
company

# **while문**
* 특정 조건까지 계속 반복

while <조건문> :

<수행할 문장>

<수행할 문장>

...

In [ ]:
i=0
while i<10:  # 9까지 실행  / while 조건에 충족될 때까지
  print(i)
  i=i+1  # 만약 이 식이 없다면 0이 무한대 출력

0
1
2
3
4
5
6
7
8
9

len  데이터 요소 몇개인지 파악

In [ ]:
food=['apple','banana','coffee','bread']  # list
i=0  # 초기화
while i< len(food):  # 요소 몇개인지 파악 food => 4  / 4보다 작을 때까지 실행
  print(food[i])   # food에 있는 i번째 값 출력
  i=i+1  # i는 한 번 실행했으면 1추가

apple
banana
coffee
bread